@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.top{
    display: flex;
    justify-content: space-around;
    /* background-color: rebeccapurple; */
}
li{
 list-style: none;
 font-family: 'Inter', sans-serif;
}
.logo{
    width: 10%;
    /* background-color: antiquewhite; */
}

.toplogo{
   width: 80px;
   height: 80px;
   border-radius: 50%;
   /* background-color: yellow */
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.user{
    /* background-color: rebeccapurple; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.karpagam{
    height: 350px;
    width: 100%;
    /* background-color: rebeccapurple; */
    background-color:#2C3532;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kh11{
    font-size: 5rem;
    /* width: 100%; */
}
a{
    text-decoration: none;
    color: black;
}
.kapragam-img{
 position: absolute;
 width: 100%;
 opacity: 70%;
}
.kimg{
    height: 350px;
    width: 100%;
}
.k-content{
    position:absolute;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: white; */
    width: 70%;
    /* opacity: 100%; */
    /* color:rebeccapurple; */
}
.k-content>h1{
    color: #D2E9E3;
}
.endhead{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: rgb(216, 140, 42); */
    /* height: 100px; */
}
.logosborder{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logosborder:hover{
    scale: 1.2;
}
.bord{
    height: 120px;
    position: relative;
    width: 140px;
    background-color: #2C3532;
    border-radius: 50%;
    border: 8px  solid white;
}
.borimg{
    position: absolute;
    /* z-index: 1000; */
    display: flex;
    justify-content: center;
}
.bimgl{
    height: 100px;
    width: 110px;
}
.bi4{
    height: 90px;
    width: 100px;
}
.bi5{
    height: 80px;
    width: 80px;
}
.bk{
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.lgb1{
    z-index: 100;
}
.lgb3{
    z-index: 100;
}
.lgb4{
    z-index: 100;
}
.lgb5{
    z-index: 100;
}
.footer{
    /* height: 600px; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.footcon{
    width: 98%;
    /* background-color:#ABB97C ; */
    background-color:#2C3532;
    border-radius: 20px;
    margin-top: 20px;
    z-index: 10;
}
.act{
    color: white;
    font-size: 4rem;
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 10%;
    /* background-color: rebeccapurple; */
}
.landscape-photo-blk{
    margin-left: 10%;
    width: 70%;
    /* background-color: rebeccapurple; */
}
h3{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.fileinput{
    height: 50px;
    width: 250px;
    /* background-color: white; */
    color: white;
}
.f-sec{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}
.f-third{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
}
.f-upload{
    display: flex;
    width: 75%;
    margin-left: 10%;
    justify-content: flex-end;
    margin-bottom: 100px;

}
.f-topic{
    width: 40%;
}
.f-date{
    width: 20%;
}
input{
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}
.f-about-desc{
    width: 40%;
}
.desc-abt{
    width: 70%;
    /* height: 50px; */
    border: none;
    outline: none;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.f-about-place{
    width: 20%;
}
.f-up{
    width: 10%;
    height: 50px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    border:none;
    border-radius: 20px 0px 20px 0px;
    font-weight: 400;
    font-size: 1.2rem;
}
.con-text{
    width: 100%;
    background-color: white;
    height: 250px;
    border-radius: 25px;
}